body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f2f2f2;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

main {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #f2f2f2;
    font-size: 14px;
    color: #666;
}

footer p {
    margin: 5px 0;
}

.error-message {
    color: red;
    margin-bottom: 10px;
  }

.download-button {
    display: block; 
    margin: 20px auto; 
    background-color: #007BFF; 
    color: white; 
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width: 50%;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: #0056b3;
    color: #ffffff;
}

.spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spin 1s ease-in-out infinite;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  #loadingMessage {
    color: #007bff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #successMessage {
    display: none;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #28a745;
    background-color: #eaffea;
    padding: 10px;
    border-radius: 5px;
    margin-top: 0px;
}