
<!DOCTYPE html>
<html>

<head>
    <title>Checkmarx SAST Scan Comparison</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <!-- <script src="..\static\jquery-3.6.0.min.js"></script> -->
    <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
    <script>
        function onSubmit(event) {
            event.preventDefault();
    
            const errorDiv = document.querySelector('.error-message');
            const loadingDiv = document.getElementById('loadingMessage');
            const successDiv = document.getElementById('successMessage');
    
            if (errorDiv) {
                errorDiv.style.display = 'none';
            }
            loadingDiv.style.display = 'block';
            successDiv.style.display = 'none';
    
            const formData = new FormData(event.target);
    
            $.ajax({
                url: "{{ url_for('compare_scans') }}",
                method: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function(response, status, xhr) {
                    loadingDiv.style.display = 'none';
    
                    if (response.error) {
                        errorDiv.textContent = response.error;
                        errorDiv.style.display = 'block';
                    } else {
                        successDiv.style.display = 'block';
    
                        const contentDisposition = xhr.getResponseHeader('Content-Disposition');
                        const filename = contentDisposition.split('filename=')[1].trim().replace(/"/g, '');
    
                        const link = document.createElement('a');
                        link.href = URL.createObjectURL(new Blob([response]));
                        link.download = filename;
                        link.click();
                    }
                },
                error: function(xhr, status, error) {
                    loadingDiv.style.display = 'none';
                    errorDiv.textContent = 'An error occurred during scan comparison.';
                    errorDiv.style.display = 'block';
                }
            });
        }
    </script>
</head>

<body>
    <header>
        <h1>Checkmarx SAST Scan Comparison</h1>
    </header>
    <main>
        <section>
            <div id="loadingMessage" style="display: none;">
                <span class="spinner"></span> Loading, Please wait...
            </div>
            <div class="error-message" style="display: {{ 'block' if error else 'none' }}">{{ error }}</div>
            <div id="successMessage" style="display: none;">Scans compared successfully!</div>

            <form method="POST" action="{{ url_for('compare_scans') }}" onsubmit="onSubmit(event)">
                <div class="form-group">
                    <label for="project_name">Project Name (optional):</label>
                    <input type="text" id="project_name" name="project_name">
                </div>
                <div class="form-group">
                    <label for="old_scan_date">Old Scan Date (DD/MM/YYYY):</label>
                    <input type="text" id="old_scan_date" name="old_scan_date" value="{{default_old_date}}" required>
                </div>
                <div class="form-group">
                    <label for="new_scan_date">New Scan Date (DD/MM/YYYY):</label>
                    <input type="text" id="new_scan_date" name="new_scan_date" value="{{default_new_date}}" required>
                </div>
                <div class="form-group">
                    <button type="submit">Compare Scans</button>
                </div>
            </form>
        </section>
    </main>
</body>

</html>